
// Flexbox 

flex()
  display: flex
  flex-wrap: wrap

mainJustify()
  flex()
  justify-content: space-between

mainDistribute()
  flex()
  justify-content: space-around

mainCenter()
  flex()
  justify-content: center

mainStart()
  flex()
  justify-content: flex-start

mainEnd()
  flex()
  justify-content: flex-end

crossStart()
  flex()
  align-items: flex-start
  align-content: flex-start

crossCenter()
  flex()
  align-items: center
  align-content: center

crossEnd()
  flex()
  align-items: flex-end
  align-content: flex-end
  
flexColumn()
  flex()
  flex-direction: column
  
flexCenter()
  display: flex
  justify-content: center
  align-items: center
  text-align: center