// Core 

// Ancho maximo para los contenedores
$max-width = 1200px
// Seperacion horizontal entre items (*2)
$gutter = 15px

// Rupture Breackpoints
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'x-movil' 'movil' 'tablet' 'desktop' 'x-desktop' 'hd'

// ** Nota: +above(min-width), +below(max-width) **